@import "./font.css";

.marianne-bold{
    font-family: 'Marianne-Bold', sans-serif;
}
.marianne-italic{
    font-family: 'Marianne-Regular-Italic', sans-serif;
}

body{
    font-family: 'Marianne-Light', sans-serif;
}

li,ul{
  list-style: none;
  list-style-position: outside;
  padding-left: 0 !important;  
}
.search-button{
    background-color: white;
    border-radius: 0px !important;
    border: 1px solid black !important;
}

.search-button:active{
    border: 1px solid black !important;
    padding: 0px !important; 
}

.custom-button{
    border-radius: 30px;
}

.form-button{
    border-color: #dee2e6 !important;
}

.form-button:hover{
    background-color: #EEEEEE;
}

.form-button:active{
    background-color: #DDDDDD !important;
}

.custom-dark-blue{
    background-color: #003249 !important;
}

.custom-blue{
    background-color: #007EA7 !important;
}

.custom-text-dark-blue{
 color: #007EA7 !important;
}

.custom-light-blue{
    background-color: #9AD1D4 !important;
}

.btn-primary{
    background-color: #9AD1D4 !important;
    border-color: #FFFFFF !important;
}
.btn-primary:hover{
    background-color: #7AB1B4 !important
}
.btn-primary:active{
    background-color: #5A9194 !important
}

.btn-secondary{
    background-color: #FFFFFF !important;
    border-color: #007EA7 !important;
    color: black !important;
}
.btn-secondary:hover{
    background-color: #DDDDDD !important;
    color: black !important;
}
.btn-secondary:active{
    background-color: #BBBBBB !important;
    color: black !important;
}

input:invalid[name="cp"] {
    background: #FFDDDD !important;
  }

#mdpOubli:hover{
    text-decoration: underline;
}

.ressources-link{
    text-decoration: none !important;
    color: black;
}

.ressource-container{
    margin: 50px auto;
    background-color: #fff;
    padding: 30px;
    margin-top: 0px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentaire-container{
    
    max-width: 500px;

    border: 1px solid black !important;
    

    margin: 50px auto;

    background-color: #fff;

    padding: 30px;

    border-radius: 8px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.commentaire-padding {
    padding-left: 20px;
}

.bg-categorie-tag {
background-color: rgba(116, 120, 141, .15) !important;
color: #54586d !important;
}
.bg-relation-tag {
background-color: rgba(0, 126, 167, .35) !important;
color: #54586d !important;
}